<hr>
<nav class="nav nav-center">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
    </span>
    <div id="nav-menu" class="nav-left nav-menu">
      <span class="nav-item">
        <a href="/">&emsp; Main &emsp;</a>
      </span>
      {{if ne .Section "aboutme"}}
        <span class="nav-item">
          <a href="/aboutme/aboutme/">&emsp; About &emsp;</a> 
        </span>
      {{end}}
      {{if ne .Section "blog"}}
        <span class="nav-item">
          <a href="/blog">&emsp; Blog &emsp;</a> 
        </span>
      {{end}}
      <span class="nav-item">
        <a href="/#contact">&emsp; Contact &emsp;</a>
      </span>
      {{if eq .Section "blog"}}
        {{ if .Site.RSSLink }}
          <span class="nav-item">
            <a href="{{ .Site.RSSLink }}">&emsp;<i class="fa fa-rss"></i></a>
          </span>
        {{ end }}
    {{ end }}
    </div>
</nav>
<hr>
