[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/Athanasiamo/hugo-theme-introduction
[submodule "themes/introduction_orig"]
	path = themes/introduction_orig
	url = https://github.com/victoriadrake/hugo-theme-introduction
