[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/Athanasiamo/hugo-theme-introduction
[submodule "themes/my-introduction"]
	path = themes/my-introduction
	url = https://github.com/Athanasiamo/hugo-theme-introduction
[submodule "themes/hugo-fullcalendar"]
	path = themes/hugo-fullcalendar
	url = https://github.com/ardianta/hugo-fullcalendar
