
[submodule "themes/hugo-chairome"]
	path = themes/chairome
	url = https://github.com/drmowinckels/hugo-chairome
[submodule "themes/hugo-igloo"]
	path = themes/hugo-igloo
	url = https://github.com/drmowinckels/hugo-igloo
