# R things
.Rproj.user
.Rhistory
blogdown
.Rbuildignore

# npm
resources/_gen
node_modules
package-lock.json

# files
.DS_Store
Thumbs.db
**.DS_Store

# dont commit pdf
content/about/resume/am_mowinckel_cv.pdf

# Hugo
public
.hugo_build.lock

# Local Netlify folder
.netlify
