<!-- HTTPS -->
{{ if .Site.Params.enforce_ssl }}
<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>
{{ end }}


<!-- jQuery -->
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<!-- Fonts and icon CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato" rel="stylesheet">


<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-115545202-1', 'auto');
ga('set', 'anonymizeIp', true);
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->


<!-- Coobkiebot disclaimer -->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="ee465df5-b1a8-4e93-92be-43a4d1fa111b" type="text/javascript" data-blockingmode="auto"></script> 

<!-- google search console -->
<script type="application/ld+json">
{
  "@context": "drmowinckels.io",
  "@type": "Personal homepage and blog",
  "url": "https://www.drmowinckels.io",
  "logo": "https://www.drmowinckels.io/img/logo.png",
  "name": "Athanasia Monika Mowinckel"
}
</script>
