
html {
  background-color: #f6f0ea; }

body {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #78888b;
  background-color: #f6f0ea;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fffefd, #f6f0ea);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffefd, #f6f0ea);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

h1, h2, h3, h4, h5, h6 {
  color: #2c3b3b;
  font-family: Cormorant Garamond, serif !important; 
}

h1, h2 {
  font-weight: 300; 
}

h3, h4, h5, h6 {
  font-weight: 300; 
}


.title {
  color: #2c3b3b !important; 
  font-family: Cormorant Garamond, serif; }

.subtitle {
  color: #2c3b3b !important;  
  font-family: Cormorant Garamond, serif; 
}

.strong-post-title {
  font-weight: 400; 
}

.latest-post-title {
  font-weight: 300; 
}

.bold-title {
  font-weight: 400; 
}

.section {
  font-family: Cormorant Garamond, serif !important; 
  background-color: #fffefd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fffefd, #f6f0ea);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffefd, #f6f0ea);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section .title {
  font-weight: 300;
}

.hero {
  font-family: Cormorant Garamond, serif !important;
  font-weight: 400;
  background: #fffefd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fffefd, #f6f0ea);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fffefd, #f6f0ea);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url(img/logo.png) center center no-repeat; 
  background-size: contain;
}

a {
  color: #4E6769; }

a:hover {
  color: #AD957F !important;
  font-style: none; }

a:active {
  color: #4E6769; }

img {
  border: 1px solid #AD957F;
}

code {
  color: #2c3b3b; }

.navbar {
  color: #2c3b3b !important;
  background-color: transparent; 
  background-image: none; 
  text-align: center;
  justify-content: center;
  font-weight: bold !important; 
}

.navbar-burger {
  background-color: transparent; 
  color: #2c3b3b;
}

.navbar-burger:hover {
  background-color: transparent; 
  font-weight: 900;
  color: #2c3b3b !important;
  background-color: #f6f0ea4d;
}
  
.navbar-menu {
  color: #2c3b3b !important;
  background-color: transparent; 
  background-image: none; 
}

.navbar-toggle:hover {
  background-color: transparent; 
  background-image: none; 
  font-weight: 900;
  background-color: #f6f0ea4d;
}

.navbar-item {
  color: #2c3b3b !important;
  background-image: none; 
}

.navbar-item:hover {
  color: #2c3b3b !important;
  font-weight: 900;
  background-color: #f6f0ea4d;
}

a.navbar-item:hover {
  color: #2c3b3b; 
  background-color: transparent; 
  font-weight: 900;
  background-color: #f6f0ea4d;
}
  
a.navbar-item {
  color: #4E6769 !important; }
  
  
.footer-text a {
 color: #78888b; }
 
.tags-list {
  font-family: #2c3b3b;
}

code {
  background-color: #2C3B3Bcc;
  color: #f6f0ea; 
}

pre {
  background-color: #2C3B3Bcc;
  color: #f6f0ea;
}

.card {
  background-color: #f6f0ea; 
}

.figure.image{
  object-fit: contain;
}
  
.card-content {
  background-color: #f6f0ea;
}

.modal-card-title {
  color: #f6f0ea; }

.modal-card-body {
  background-color: #f6f0ea; }



.markdown {
  color: #2c3b3b;
  font-weight: 100;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-family: Cormorant Garamond, serif !important; 
}

.markdown a {
  color: #4E6769;
  hover-color: #AD957F;
  active-color: #4E6769; }

.markdown hr {
  border-top: 1px solid #AD957F;}

.markdown abbr {
  color: #666666;
}

.markdown abbr[title] {
  border-bottom: 1px dotted #808080;
  
}

.markdown table {
  color: #4E6769;
  border: 1px solid #f6f0ea;
}

.markdown td, .markdown th , .markdown tr {
  border: 1px solid #f6f0ea;
  background-color: #f4f1ee !important;
}

.markdown thead td, .markdown thead th , .markdown thead tr {
  background-color: #dad0c6 !important;
  font-family: Cormorant Garamond, serif !important;
}

.markdown tbody tr:nth-child(odd) td,
.markdown tbody tr:nth-child(odd) th,
.markdown tbody tr:nth-child(odd) tr {
  background-color: #eae4de !important; 
  
}

