{{ partial "header.html" . }}
<body>

<div class="section" style="text-align: center; background-image: url(img/logo.png); background-repeat: no-repeat; background-size: auto 80%; background-position: center;"><!-- Parent section -->
    <h1 class="bold-title {{ if .Site.Params.fadeIn }}fade-in one{{ end }}">
          {{ .Site.Params.firstName }}
    </h1>
    <h1 class="subtitle is-3 {{ if.Site.Params.fadeIn }} fade-in two{{ end }}">
          About me
    </h1>
</div><!-- End Title -->

<!-- Everything below fades in three! -->
<div class="section {{ if .Site.Params.fadeIn }} fade-in three{{ end }}">

    <div class="container" style="text-align: center;"><!-- Begin Nav bar -->
    {{ partial "nav-single.html" . }}
    </div><!-- End Nav bar -->
       
    <div class="container"><!-- Begin Blog container -->
      <script>$("#includedContent").load("aboutme/.html");</script> 
    </div><!-- End Blog container -->
    
            <div class="columns"><!-- Avatar and about.md side by side except mobile -->
            {{ if .Site.Params.avatar }}
            <div class="column is-one-third has-text-centered">
              <img class="img-responsive avatar" src="/{{ .Site.Params.avatar }}" alt="My profile picture.">
            </div>
            {{ end }}
            <div class="column markdown">
              {{ .Title }}
                {{ range .Data.Pages }}
                    {{if eq .Title "Aboutmes" }}
                            {{.Content}}
                        {{end}}
                    {{ end }}
                            </div>
        </div>

<div class="container has-text-centered top-pad">
<hr>
<a href="{{ .Permalink }}#top"><i class="fa fa-arrow-up"></i></a>
<hr>
</div>

{{ partial "footer.html" . }}
</div><!-- End fade in two -->
</div><!-- End parent section -->

<!-- Bitty scrolling links script -->
<script>
$('a[href^="{{ .Permalink }}#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})
</script>

</body>
