<div class="section" id="footer"><!-- Begin Footer section -->
    <div class="container has-text-centered"><!-- Begin Footer container -->
        {{ if .Site.Params.footerText }}
            {{ .Site.Params.footerText }}
        {{ else }}
        <span class="footer-text"> 
        Athanasia Monika Mowinckel <i class="fa fa-creative-commons"></i>-BY {{ now.Format "2006" }}. Feeding to <a href='https://rweekly.org'>R weekly</a>.
        See the sites <a href='/cookies/cookies'>cookie</a> policy.
        </span>
        {{ end }}
    </div><!-- End Footer container -->
</div><!-- End Footer section -->

<!-- sticky navbar script -->
<script>
window.onscroll = function() {stickyFunc()};

var navbar = document.getElementById("stickynav");
var sticky = navbar.offsetTop; 

function stickyFunc() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

<!-- Bitty scrolling links script -->
<script>
$('a[href^="{{ .Permalink }}#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);  
    return false;
})
</script>
