<div class="section" id="footer"><!-- Begin Footer section -->
    <div class="container has-text-centered"><!-- Begin Footer container -->
        {{ if .Site.Params.footerText }}
            {{ .Site.Params.footerText }}
        {{ else }}
        <span class="footer-text"> All work published here made by Athanasia Monika Mowinckel <i class="fa fa-creative-commons"></i>. All reproductions must adhere to the same licence. {{ now.Format "2006" }}</span>
        {{ end }}
    </div><!-- End Footer container -->
</div><!-- End Footer section -->
