<!--
<li class="post-item" style="text-align: center center;">
  <a style="color: white;" href="{{ .Permalink }}" >
    <div class="columnBlog" > 
        {{ with .Params.featured_image }}<img src="{{ . }}"> {{ end }}
        <div class="middle">
          <p style="font-size: calc(.3vw + .3vh + 1vmin);" >{{ .Date.Format .Site.Params.dateForm }} <br></p>
          {{ .Title }}
        </div>
    </div>
  </a>
</li>
-->

      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="{{ .Permalink }}">
            {{ with .Params.featured_image }}<img src="{{ . }}"> {{ end }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Date.Format .Site.Params.dateForm }} <br></p>
          </a>
        </div>
      </li>
        

